<div class="sidebar" data-active-color="rose" data-background-color="black">
   <!--
        Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
        Tip 2: you can also add an image using data-image tag
        Tip 3: you can change the color of the sidebar with data-background-color="white | black"
      -->
      <div class="logo">
        <a href="#" class="simple-text">
          GMCHS ISLAMNAGAR
        </a>
      </div>
      <div class="logo logo-mini">
        <a href="#" class="simple-text">
          GMCHS
        </a>
      </div>
      <div class="sidebar-wrapper">
        <div class="user">
          <div class="photo">
           <%= image_tag("user.png", alt: "Teacher") %>
         </div>
         <div class="info">
          <a data-toggle="collapse" href="#collapseExample" class="collapsed">
            Admin
            <b class="caret"></b>
          </a>
          <div class="collapse" id="collapseExample">
            <ul class="nav">
              <li>
                <a href="#">My Profile</a>
              </li>
              <li>
                <a href="#">Edit Profile</a>
              </li>
              <li>
                <a href="#">Settings</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="nav">
        <li class="<%= 'active' if params[:controller] == 'static' %>">
          <%= link_to(root_path, class: "nav-link" ) do %>
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
          <% end %>
        </li>

        <li class="nav-item <%= 'active' if params[:controller] == 'teachers' %>  ">
          <%= link_to(teachers_path, class: "nav-link" ) do %>
          <i class="material-icons">account_box</i>
          <p>Teachers Profile</p>
          <% end %>
        </li>
        <li class="nav-item <%= 'active' if params[:controller] == 'sections' %> ">
          <%= link_to(sections_path, class: "nav-link" ) do %>
          <i class="material-icons">content_paste</i>
          <p>Sections List</p>
          <% end %>
        </li>     
        <li class="nav-item <%= 'active' if params[:controller] == 'students' %> ">
          <%= link_to(students_path, class: "nav-link" ) do %>
          <i class="material-icons">library_books</i>
          <p>Students Profile</p>
          <% end %>
        </li>
        <li>
          <a data-toggle="collapse" href="#componentsExamples">
            <i class="material-icons">apps</i>
            <p>Registers
              <b class="caret"></b>
            </p>
          </a>
          <div class="collapse" id="componentsExamples">
            <ul class="nav">
              <li>
                <a href="components/buttons.html">Result</a>
              </li>
            </ul>
          </div>
        </li>

      </ul>
    </div>