<div id="filterrific_results" class="table-responsive">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-content table-responsive">
					<table class="table table-hover">
						<thead class="text-warning">
							<th>Name </th>
							<th>Father Name </th>
							<th>DOB </th>
							<th>Father CNIC </th>
							<th>Mobile </th>
							<th>Section </th>
							<th >Action</span>
							</thead>
							<tbody>
								<% @students.each do |student| %>
								<tr>
									<td><b><%= student.name %></b></td>
									<td><%= student.father_name %></td>
									<td><%= student.dob %></td>
									<td><%= student.father_cnic %></td>
									<td><%= student.mobile %></td>
									<td><%= link_to student.section.grade + " " + student.section.name , section_path(student.section_id) %></td>
									<td><%= link_to 'Show', student_path(student) %></td>
								</tr>							
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
				<%= paginate @students %>
			</div>		
		</div>