<div class="row">
  <div class="col-md-4">
    <div class="card card-profile">
      <div class="card-avatar">
        <%= image_tag("user.png", alt: "Teacher", class: "img-responsive avatar-view") %>
      </div>
      <div class="card-content">
        <h6 class="category text-gray"><%= @student.name %>  /  <%= @student.father_name %></h6>
        <h4 class="card-title"><%= @student.section.grade + " " +  @student.section.name %></h4>
        <h4 class="card-title">DOB: <%= @student.dob %></h4>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Student -
          <small>Profile</small>
        </h4>
      </div>
      <div class="card-content">
        <ul class="nav nav-pills nav-pills-rose">
          <li class="active">
            <a href="#pill1" data-toggle="tab">Personal Information</a>
          </li>
          <li>
            <a href="#pill2" data-toggle="tab">Result</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="pill1">
            <%= render(
              partial: 'students/personal_information')
              %>
          </div>
          <div class="tab-pane" id="pill2">
            <%= render(
              partial: 'students/result')
              %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>