<div class="card-content table-responsive">
	<table class="table table-hover">
		<thead class="text-rose">
			<th >#</th>
			<th >Name </th>
			<th >Father Name </th>
			<th >DOB </th>
			<th >Father CNIC </th>
			<th >Mobile </th>
			<th >Section </th>
			<th>Action</th>
		</thead>
		<tbody>
			<% students.each_with_index do |student, i| %>
			<tr>
				<td><b><%= i+1 %></b></td>
				<td><b><%= student.name %></b></td>
				<td><%= student.father_name %></td>
				<td><%= student.dob %></td>
				<td><%= student.father_cnic %></td>
				<td><%= student.mobile %></td>
				<td><%= link_to student.section.grade + " " + student.section.name , section_path(student.section_id) %></td>
				<td><%= link_to 'Show', student_path(student) %></td>
			</tr>							
			<% end %>
		</tbody>
	</table>
</div>