<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header card-header-text" data-background-color="rose">
				<h4 class="card-title">Sections <%= @sections.count %></h4>
			</div>
			<div class="card-content table-responsive">
				<table class="table table-hover">
					<thead class="text-rose">
						<th>Name</th>
						<th>No of Student </th>
						<th>Incharge</th>
						<th>Action</th>
					</thead>
					<tbody>
						<% @sections.each do |section| %>
						<tr class="even pointer">
							<td class=" "><b><%= section.grade + " " +  section.name %></b></td>
							<td class=" "><%= section.students.count %></td>
							<td class=" ">
								<%= if section.periods.where(:incharge => true).count >= 1
									section.periods.where(:incharge => true).first.teacher.name
								else '-'
									end %>
								</td>
								<td class=""><%= link_to 'Show', section_path(section) %></td>
							</tr>							
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>