<% @students.each do |student| %>
<% unless student.result_master.blank? %>
<div class="row">
  <div class="col-md-4">
    <div class="card card-profile">
      <div class="card-content">
        <h6 class="category text-gray">Roll No: <%= student.result_master.roll_no %></h6>
        <h4 class="card-title">Name: <%= student.name %></h4>
        <h4 class="card-title"> Father Name: <%= student.father_name %></h4>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Teacher -
          <small>Profile</small>
        </h4>
      </div>
      <div class="card-content">
        <table class="table" >
          <thead>
            <tr>
              <th>#</th>
              <th>Subject</th>
              <th>Max Marks</th>
              <th>Part 1</th>
              <th>Part 2</th>
              <th>Practical</th>
              <th>Total / Remarks</th>
            </tr>
          </thead>
          <tbody>
            <% student.result_details.each_with_index do |paper, sr| %>
            <tr>
              <td><%= sr+1 %> </td>
              <td><b><%= paper.subject %></b></td>
              <td><%= paper.max_marks %></td>
              <td><%= paper.part1 %></td>
              <td><%= paper.part2 %></td>
              <td><%= paper.practical %></td>
              <td style="text-align: center;" class="<%=  paper.total_remarks.is_number? ? 'success' : 'danger' %>"><b><%= paper.total_remarks %></b></td>
            </tr>
            <% end %>
            <tr class="<%=  student.result_master.remarks.is_number? ? 'success' : 'danger' %>"><td colspan="6"></td><td><b>Remarks: <%=  student.result_master.remarks %></b></td></tr>
          </tbody>
        </table>       

      </div>
    </div>
  </div>  
    <% else %>
    <h4>No Result Found</h4>  
    <% end %>
</div>     
    <% end %>