<div id="filterrific_results">
	<% @teachers.each do |teacher| %>
	<div class="col-sm-6">
		<div class="card card-testimonial">
			<div class="icon">
				<i class="material-icons">format_quote</i>
			</div>
			<div class="card-content">
				<h5 class="card-description">
					<%= teacher.name %>  /  <%= teacher.father_name %>
				</h5>
			</div>
			<div class="footer">
				<h4 class="card-title"><%= teacher.designation %></h4>
				<h6 class="category">BPS: <%= teacher.bps %></h6>
				<div class="card-avatar">
					<%= link_to  teacher_path(teacher) do %>
					<% if teacher.image.blank? %>
					<%= image_tag("user.png", alt: "Teacher", class: "img") %>
					<% else %>					
					<%= image_tag( teacher.image, alt: "Teacher", class: "img") %>
					<% end %>	
					<% end %>	
				</div>
			</div>
		</div>
	</div>
<% end%>

</div>