<div class="col-md-12">
  <div class="row">
    <div class="col-md-6">
      <ul class="timeline timeline-simple">
        <li class="timeline-inverted">
          <div class="timeline-badge danger">
            <i class="material-icons">card_travel</i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <span class="label label-danger">Father Name</span>
            </div>
            <div class="timeline-body">
              <p><%= @teacher.father_name %></p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success">
            <i class="material-icons">extension</i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <span class="label label-success">Qualification</span>
            </div>
            <div class="timeline-body">
              <p><%= @teacher.qualification %></p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge info">
            <i class="material-icons">fingerprint</i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <span class="label label-info">Date of Birth</span>
            </div>
            <div class="timeline-body">
              <p><%= @teacher.dob %></p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge info">
            <i class="material-icons">person</i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <span class="label label-info">CNIC</span>
            </div>
            <div class="timeline-body">
              <p><%= @teacher.cnic %></p>
            </div>
          </div>
        </li>

      </ul>
    </div>
    <div class="col-md-6">
      <ul class="timeline timeline-simple">
        <li class="timeline-inverted">
          <div class="timeline-badge danger">
            <i class="material-icons">card_travel</i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <span class="label label-danger">Appointment</span>
            </div>
            <div class="timeline-body">
              <p><%= @teacher.date_of_appointment %></p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success">
            <i class="material-icons">extension</i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <span class="label label-success">Present Grade Date</span>
            </div>
            <div class="timeline-body">
              <p><%= @teacher.date_of_present_grade %></p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge info">
            <i class="material-icons">fingerprint</i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <span class="label label-info">School Joined</span>
            </div>
            <div class="timeline-body">
              <p><%= @teacher.date_of_joining_school %></p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge info">
            <i class="material-icons">cloud</i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <span class="label label-info">Address</span>
            </div>
            <div class="timeline-body">
              <p><%= @teacher.address %></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>