<div class="row">
  <div class="col-md-4">
    <div class="card card-profile">
      <div class="card-avatar">
        <%= link_to  teacher_path(@teacher) do %>
        <% if @teacher.image.blank? %>
        <%= image_tag("user.png", alt: "@Teacher", class: "img") %>
        <% else %>          
        <%= image_tag( @teacher.image, alt: "@Teacher", class: "img") %>
        <% end %> 
        <% end %>
      </div>
      <div class="card-content">
        <h6 class="category text-gray"><%= @teacher.name %>  /  <%= @teacher.father_name %></h6>
        <h4 class="card-title"><%= @teacher.designation %></h4>
        <h4 class="card-title">BPS: <%= @teacher.bps %></h4>
        <h4 class="card-title"><%= @teacher.mobile %></h4>
        <%  if @teacher.section_incharge.present? %>
        <%= link_to  section_path(@teacher.section_incharge.id ), class: "btn btn-rose btn-round" do %>
        <%= @teacher.section_incharge.section_full_name %>
        <% end %>
        <% else %>
        <a class="btn btn-rose btn-round"></i>No Incharge </a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Teacher -
          <small>Profile</small>
        </h4>
      </div>
      <div class="card-content">
        <ul class="nav nav-pills nav-pills-rose">
          <li class="active">
            <a href="#pill1" data-toggle="tab">Personal Information</a>
          </li>
          <li>
            <a href="#pill2" data-toggle="tab">Time Table</a>
          </li>
          <li>
            <a href="#pill3" data-toggle="tab">Options</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="pill1">
            <%= render(
              partial: 'teachers/personal_information')
              %>
          </div>
          <div class="tab-pane" id="pill2">
            <%= render(
              partial: 'teachers/time_table')
              %>
          </div>
          <div class="tab-pane" id="pill3">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>